# Data Science Tools & Ecosystem #

**In this NoteBook, Data Science Tools and Ecosystem is Summarized:**

### Some of the popular Language for Data Science use are: ###
1. Phyton
2. Jupitar Note Book
3. R

### some of the popular Libraries use in for Data Science are: ###
1. Numpy
2. Pandas
3. seaborn

| Data Science Tools |
| ------ |
| Jupitor Notebook |
| R Studio |
| VS |

### Below are the few example of Evaluating arithematic expression in Phython

In [1]:
a=(3*4)+5
#This a simple arithmetic expression to mutiply then add integers
a

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
Hours = 200/60
Hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Describe the different open-source tools used in Data Science
- Demonstrate basic arithmetic operations in Python
- Convert units of time using Python expressions
- Create and format tables in markdown

  ## Author
  Waqar Ahmed Siddiqui